.about {
  display: flex;
  min-height: 85vh;
  /* background-color: var(--white-heavy); */
}

.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  min-height: 100%;
  width: 100%;
  /* box-shadow: 3px 3px 4px 5px var(--black-medium); */

}

  .profile-pic{
    margin-top: 6dvh;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
  }

  .pic{
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 3px 3px 4px 5px var(--black-medium);

  }

  .intro{
    height: 25dvh;
    width: 40%;
    margin: 6dvh 0 2dvh 0;
    color: var(--white-heavy);
    font-size: 2rem;
    text-align: justify;
    text-justify: newspaper;
  }

  .spanRed{
    color: var(--plain-red);
  }

  .spanWhite{
    color: var(--white-heavy);
  }

  .intro-title{
    color: var(--blue-heavy);
    text-align: center;
  }

  .iconsContainer{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4dvh;
    border-radius: 10px;
    max-width: 80%;
    width: fit-content;
    max-height: 18vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    box-shadow: 3px 3px 4px 5px var(--black-medium);
  }

  .iconsList{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 4dvw;
    margin-top: 1dvh;
  }

  .icons{
    font-size: 3rem;
    color: var(--white-heavy);
  }

  .icons:hover {
    font-size: 5.1rem;
    color: var(--blue-heavy);
  }

@media (max-width: 600px){

  .profile-pic{
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
  }

  .pic{
    height: 8rem;
    width: 8rem;
    object-fit: cover;
    border-radius: 50%;
  }

  .intro{
    width: 80%;
    max-height: 20dvh;
    font-size: 5vw;
    height: max-content;
    margin-bottom: 2dvh;
  }

  .iconsContainer{
    min-height: fit-content block;
    /* height: auto; */
  }

  .iconsList{
    margin: 0 auto;
    padding: 0 !important;
    gap: 1dvw;
  }

  .icons{
    margin-top: 1dvh;
    font-size: 1rem;
    color: var(--white-heavy);
  }

  .icons:hover {
    font-size: inherit;
    color: var(--blue-heavy);
  }
}

@media (max-width: 767px){
  .intro{
    height: auto;
    font-size: 2rem;
  }

  .iconsContainer{
    min-height: 20dvh;
  }

  .iconsList{
    margin: 0 auto;
    padding: 0 !important;
    gap: 2dvw;
  }

  .icons{
    font-size: 2rem;
    color: var(--white-heavy);
  }

  .icons:hover {
    font-size: 2.3rem;
    color: var(--blue-heavy);
  }
}

@media (max-width: 967px){
  .intro{
    max-height: auto;
    font-size: 5vw;
  }

  .iconsContainer{
    height: auto;
  }

  .iconsList{
    margin: 0 auto;
    padding: 0 !important;
    gap: 2dvw;
  }

  .icons{
    font-size: 2.5rem;
    color: var(--white-heavy);
  }

  .icons:hover {
    font-size: 3.3rem;
    color: var(--blue-heavy);
  }
}