.home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  color: red;
  /* background: cross-fade(url('./../../assets/pattern-one.jpg') 55%); */
}

.board{
  height: 65vh;
  width: 55vw;
  /* position: absolute;
  top: 15vh;
  left: 6vw; */
  margin: 0 auto;
  background: linear-gradient(var(--black-medium), var(--black-light) 45%);
  box-shadow: 3px 3px 4px 5px var(--black-medium), 3px 3px 4px 5px var(--black-medium);
  border-radius: 10px;
  /* z-index: 2; */
}


.board p span{
  color: var(--blue-heavy);
}

.board-title{
  margin: 1vh 0 0 1vw;
  color: var(--plain-red);
  font-size: 10vw;
}

.board-text{
  color: var(--white-heavy);
  text-align: center;
  font-size: 3.5vw;
}

/* .profile-pic{
  position: absolute;
  top: 46vh;
  left: 68vw;
  border-radius: 50rem;
  height: 35vh;
  width: auto;
  background-attachment: fixed;
  /* transform: rotate(0.02turn);
  padding: 10px !important;
}

img{
max-width:100%;
max-height:100%;
padding: 10px;
border-radius: 100rem;
} */



@media (min-width: 1201px) {
  .board-text{
    color: var(--white-heavy);
    text-align: center;
    font-size: 3.5vw;
  }
  
}

@media (max-width: 1200px){
  .board-text{
    color: var(--white-heavy);
    text-align: center;
    font-size: 5.8vw;
  }
}

@media (max-width: 860px){
  .board-text{
    color: var(--white-heavy);
    text-align: center;
    font-size: 6.5vw;
  }
}

@media (max-width: 760px){
  .board-text{
    color: var(--white-heavy);
    text-align: center;
    font-size: 6vw;
  }
  .board{
    height: auto;
    width: 55vw;
    margin: 0 auto;
    box-shadow: 3px 3px 4px 5px var(--black-medium);
    border-radius: 10px;
  }
}

@media (max-width: 600px) {
  .board{
    max-height: auto;
    width: 55vw;
    margin: 0 auto;
    box-shadow: 3px 3px 4px 5px var(--black-medium);
    border-radius: 10px;
  }

  .board-text{
    color: var(--white-heavy);
    text-align: center;
    font-size: 10vw;
  }

  .typewriter{
    font-size: 15vw;
  }
}