/* *** FONTS ***** */
@import 'bootstrap/dist/css/bootstrap.min.css';

:root{
  /* Colors */
  --black-light: #1A1818;
  --black-medium: #100f0f;
  --white-heavy: #EBECE8;
  --blue-heavy: #24AECD;
  --plain-red: #FF0000;
  --bg-nav: #fef7e5;

  /* Fonts */
  --font-shadowsIntoLight: 'Shadows Into Light', cursive;
  --font-bebas-neue: 'Bebas Neue', cursive;
}

body{
  margin: 0;
  padding: 0;
  font-family: var(--font-bebas-neue), sans-serif;
  background-color: var(--black-light) ;
}

.title{
  font-size: 55px;
  color: var(--plain-red);
  cursor: pointer;
}

 .NavLink{
  list-style: none;
  border: none;
  text-decoration: none ;
}

.NavLink:hover {
  list-style: none;
  border: none;
  text-decoration: none ;
  color: var(--plain-red);
}


/* *** Footer *** */

.footer{
  bottom: 0 !important;
  padding-top: 1.5vh !important;
  padding-bottom: 1vh !important ;
  min-height: 10dvh;
  /* background-color: var(--bg-nav); */
  background: linear-gradient(var(--black-light), var(--white-heavy) 15%);
  box-shadow: 5px 0 0 0 var(--bg-nav), 0 3px var(--black-medium);
}

.footer ul li {
  list-style: none;
  padding: 1.5vh;
  margin: 0 auto;
}

.footer ul {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-content: center;
  align-items: center;
  padding: 0;
}

.footer-copywright {
  text-align: center !important;
  margin-top: 2.5vh;
}

.icon {
  font-size: 1.5rem;
  color: var(--black-light);
}

.icons-container{
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  padding: 0 !important;
}

.fluid-text {
  font-size: 1.5vw;
}

@media (max-width: 600px) {
  .title{
    font-size: 35px;
    padding-right: 10px;
    margin-right: 5px;
  }

  .fluid-text {
    font-size: 3vw;
  }

  .icon {
    font-size: 3.5vw;
    color: var(--black-light);
  }

  .footer{
    padding-top: 0.5vh !important;
    padding-bottom: 0 !important ;
  }

}

@media (max-width: 767px){
  .fluid-text {
    font-size: 2.5vw;
  }

  .icon {
    font-size: 2rem;
    color: var(--black-light);
  }
  .footer{
    padding-top: 0.4vh !important;
    padding-bottom: 0 !important ;
    
  }
}

@media (max-width: 967px){
  .fluid-text {
    font-size: 2.5vw;
  }

  .icon {
    font-size: 2rem;
    color: var(--black-light);
  }
  .footer{
    padding-top: 0.4vh !important;
    padding-bottom: 0 !important ;
    
  }
}